*{
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}
.header{
    background-color: #66FF99;
   padding: 10px 0 10px 0;
}
a{
    color: azure;
    text-decoration: none;
}
.col-2{
    flex: 0 0 16.666667%;
    max-width:16.666667% ;
}
.col-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.col-8{
    flex: 0 0 66.666667%;
    max-width: 66.666667;  
}
.menu ul li {
float: left;
margin-right: 20px;
list-style: none;
}
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
